@mixin column-centered {
    @include column;
    align-items: center;
    justify-content: center;
}

@mixin align-center {
    display: flex;
    align-items: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin column-align-center {
    @include column;
    @include align-center;
}